.w2p-query {
    padding: 15px;
    /* border-radius: var(--border-radius-1); */
    border-bottom: var(--border-1);
}

/* .w2p-query:not(.header-grid) {
    border-left: 3px solid var(--w2p-secondary-color);
}

.w2p-query.invalid {
    border-left: 3px solid var(--w2p-error-color);
} */

.w2p-query-main-datas {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr 2fr;
    white-space: nowrap;
    grid-auto-flow: column;
    min-height: 45px;
    align-items: center;
}

.w2p-query-main-datas>div {
    padding: 0 5px;
    white-space: normal !important;
}


.w2p-query-details>div {
    padding: 0px 12px;
}

.first-query-details-sexion {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    max-width: 100%;
}

.w2p-query-details {
    margin-top: 10px;
    padding: 7px 0px;
    max-width: 100%;
    background-color: var(--w2p-fake-white);
    border-radius: var(--border-radius-1);
}

.w2p-query-data {
    padding-right: 10px;
}

.w2p-query-label {
    display: inline-block;
    width: min-content;
}